body{

    background: url("/asset/Simplistic-Tatooine.jpg") no-repeat fixed center;

    background-size: cover;
}

.profile-card{
    border : 2px solid darkgoldenrod;
}


#card2{
    background-color: darkgoldenrod;

}

h1{
    font-family: 'Orbitron', sans-serif;
    font-weight: bold;
}

a{color: red;

}

.line{
    width: 112px;
    height: 47px;
    border-bottom: 1px darkgoldenrod;
    position: relative;
}

