body{
    background: url("/asset/Simplistic-Tatooine.jpg") no-repeat fixed center;
    background-size: cover;
}

.profile-card{
    border : 2px solid darkgoldenrod;
}


#card2{
    background-color: darkgoldenrod;

}
/*#adPage{
    background-image: none;
    background-color: wheat;
}*/
a{color: black;

}

.line{
    width: 112px;
    height: 47px;
    border-bottom: 1px darkgoldenrod;
    position: relative;
}